In [1]:
# Import necessary libraries
import sqlite3
import pandas as pd

In [2]:
# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [3]:
# Create the sales table
cursor.execute('''
CREATE TABLE sales (
    sale_id INTEGER PRIMARY KEY,
    product_id INTEGER,
    customer_id INTEGER,
    sale_date TEXT,
    amount REAL,
    quantity INTEGER
)
''')

In [4]:
# Insert sample data into the sales table
sales_data = [
    (1, 101, 1, '2023-01-01', 100, 2),
    (2, 102, 2, '2023-01-02', 150, 3),
    (3, 101, 1, '2023-01-03', 200, 1),
    (4, 103, 3, '2023-01-04', 300, 4),
    (5, 102, 2, '2023-01-05', 100, 1),
    (6, 101, 1, '2023-01-06', 250, 2)
]
cursor.executemany('INSERT INTO sales VALUES (?, ?, ?, ?, ?, ?)', sales_data)
conn.commit()

In [5]:

# Query to show all data in sales table
df = pd.read_sql_query('SELECT * FROM sales', conn)
print("Sales Table Data:")
print(df)

Sales Table Data:
   sale_id  product_id  customer_id   sale_date  amount  quantity
0        1         101            1  2023-01-01   100.0         2
1        2         102            2  2023-01-02   150.0         3
2        3         101            1  2023-01-03   200.0         1
3        4         103            3  2023-01-04   300.0         4
4        5         102            2  2023-01-05   100.0         1
5        6         101            1  2023-01-06   250.0         2

In [8]:
# GROUP BY Example: Total Sales Amount per Product
query1 = '''
SELECT product_id, SUM(amount) as total_sales
FROM sales
GROUP BY product_id
'''
df1 = pd.read_sql_query(query1, conn)
print("\nTotal Sales Amount per Product:")
print(df1)

Total Sales Amount per Product:
   product_id  total_sales
0         101        550.0
1         102        250.0
2         103        300.0

In [9]:

# ORDER BY Example: List Sales Ordered by Amount
query2 = '''
SELECT * 
FROM sales
ORDER BY amount DESC
'''
df2 = pd.read_sql_query(query2, conn)
print("\nSales Ordered by Amount:")
print(df2)

Sales Ordered by Amount:
   sale_id  product_id  customer_id   sale_date  amount  quantity
0        4         103            3  2023-01-04   300.0         4
1        6         101            1  2023-01-06   250.0         2
2        3         101            1  2023-01-03   200.0         1
3        2         102            2  2023-01-02   150.0         3
4        1         101            1  2023-01-01   100.0         2
5        5         102            2  2023-01-05   100.0         1

In [10]:
query3 = '''
SELECT product_id, SUM(amount) as total_sales
FROM sales
GROUP BY product_id
HAVING total_sales > 300
'''
df3 = pd.read_sql_query(query3, conn)
print("\nProducts with Total Sales Greater Than 300:")
print(df3)

Products with Total Sales Greater Than 300:
   product_id  total_sales
0         101        550.0

In [11]:
# Combined Example: Total Sales Amount per Customer, Ordered by Total Sales Descending, Showing Only Customers with Total Sales Greater Than 300
query4 = '''
SELECT customer_id, SUM(amount) as total_sales
FROM sales
GROUP BY customer_id
HAVING total_sales > 300
ORDER BY total_sales DESC
'''
df4 = pd.read_sql_query(query4, conn)
print("\nTotal Sales Amount per Customer, Ordered by Total Sales Descending, Showing Only Customers with Total Sales Greater Than 300:")
print(df4)

Total Sales Amount per Customer, Ordered by Total Sales Descending, Showing Only Customers with Total Sales Greater Than 300:
   customer_id  total_sales
0            1        550.0

In [12]:

# Close the connection
conn.close()