In [1]:
%load_ext sql

In [2]:
%sql sqlite:///example.db

In [3]:
%%sql
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    salary REAL
);

INSERT INTO employees (name, salary) VALUES ('John Doe', 50000);
INSERT INTO employees (name, salary) VALUES ('Jane Doe', 60000);

 * sqlite:///example.db
Done.
1 rows affected.
1 rows affected.

[]

In [4]:
%%sql
CREATE TRIGGER IF NOT EXISTS update_salary 
AFTER UPDATE ON employees 
BEGIN
    UPDATE employees 
    SET salary = NEW.salary * 1.1
    WHERE id = NEW.id;
END;

 * sqlite:///example.db
Done.

[]

In [5]:
#Create function
import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')

# Define a custom function
def calculate_bonus(salary):
    return salary * 0.1

# Register the function with SQLite
conn.create_function('calculate_bonus', 1, calculate_bonus)

# Use the custom function in an SQL query
query = "SELECT id, name, salary, calculate_bonus(salary) as bonus FROM employees"
result = conn.execute(query).fetchall()

# Display the result
for row in result:
    print(row)

# Close the connection
conn.close()

(1, 'John Doe', 50000.0, 5000.0)
(2, 'Jane Doe', 60000.0, 6000.0)

In [6]:
#using cursors
import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT id, name, salary FROM employees")

# Use the cursor to fetch data
rows = cursor.fetchall()

# Iterate through the rows
for row in rows:
    print(f"ID: {row[0]}, Name: {row[1]}, Salary: {row[2]}")

# Close the cursor and the connection
cursor.close()
conn.close()

ID: 1, Name: John Doe, Salary: 50000.0
ID: 2, Name: Jane Doe, Salary: 60000.0