In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to SQLite database (or any other database)
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [3]:
# Create Tables
cursor.execute('''
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY AUTOINCREMENT,
    CustomerName TEXT,
    CustomerAddress TEXT
);
''')

In [5]:
cursor.execute('''
CREATE TABLE Products (
    ProductID INTEGER PRIMARY KEY AUTOINCREMENT,
    ProductName TEXT
);
''')

In [6]:
cursor.execute('''
CREATE TABLE Orders (
    OrderID INTEGER PRIMARY KEY AUTOINCREMENT,
    CustomerID INTEGER,
    OrderDate DATE,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);
''')

In [7]:
cursor.execute('''
CREATE TABLE OrderDetails (
    OrderID INTEGER,
    ProductID INTEGER,
    Quantity INTEGER,
    PRIMARY KEY (OrderID, ProductID),
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
);
''')

In [8]:
# Insert Sample Data
cursor.execute("INSERT INTO Customers (CustomerName, CustomerAddress) VALUES ('John Doe', '123 Elm Street')")
cursor.execute("INSERT INTO Products (ProductName) VALUES ('Widget')")
cursor.execute("INSERT INTO Orders (CustomerID, OrderDate) VALUES (1, '2023-06-19')")
cursor.execute("INSERT INTO OrderDetails (OrderID, ProductID, Quantity) VALUES (1, 1, 10)")

In [9]:
# Commit changes and close connection
conn.commit()
conn.close()

In [10]:
# Query the data
conn = sqlite3.connect('example.db')
df_customers = pd.read_sql_query("SELECT * FROM Customers", conn)
df_products = pd.read_sql_query("SELECT * FROM Products", conn)
df_orders = pd.read_sql_query("SELECT * FROM Orders", conn)
df_order_details = pd.read_sql_query("SELECT * FROM OrderDetails", conn)
conn.close()

In [11]:
# Display the data
df_customers, df_products, df_orders, df_order_details

(   CustomerID CustomerName CustomerAddress
 0           1     John Doe  123 Elm Street,
    ProductID ProductName
 0          1      Widget,
    OrderID  CustomerID   OrderDate
 0        1           1  2023-06-19,
    OrderID  ProductID  Quantity
 0        1          1        10)