In [2]:
empty_set = set()
print(empty_set)  # Output: set()

set()

In [3]:
numbers = {1, 2, 3, 4, 5}
print(numbers)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [4]:
letters = set(['a', 'b', 'c', 'd'])
print(letters)  # Output: {'a', 'b', 'c', 'd'}

{'c', 'a', 'b', 'd'}

In [5]:
s = {1, 2, 3}  # Set with elements 1, 2, and 3
s = set([1, 2, 3])  # Using the set() constructor

In [6]:
s.add(4)
s.update([5, 6])

In [7]:
s.remove(4)
s.discard(5)
element = s.pop()
s.clear()

In [8]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
union_set = s1 | s2
intersection_set = s1 & s2
difference_set = s1 - s2
sym_diff_set = s1 ^ s2

In [9]:
print(2 in s1)  # Output: True

True

In [10]:
squares = {x**2 for x in range(10)}

In [11]:
s_list = list(s)
s_tuple = tuple(s)
s_str = str(s)

In [12]:
fs = frozenset([1, 2, 3])

In [13]:
numbers_list = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers_list)
print(unique_numbers)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [14]:
frozen_numbers = frozenset([1, 2, 3, 4, 5])
print(frozen_numbers)  # Output: frozenset({1, 2, 3, 4, 5})

frozenset({1, 2, 3, 4, 5})

In [15]:
squared_set = {x**2 for x in range(6)}
print(squared_set)  # Output: {0, 1, 4, 9, 16, 25}

{0, 1, 4, 9, 16, 25}

NameError: name 'set1' is not defined